@import "tailwindcss";

@theme {
  --font-Lato: "Lato", sans-serif; 
  --color-primary-green: #06C279; 
  --color-banner-mix: #EEFFF9;
  --color-primary-black: #1B1B1B;
  --color-primary-white: #FFFFFF;
  --color-primary-gray: #717171;
  --color-sixth-color: #7B7B7B;
  --color-seventh-color: #DAF6EB;
  --color-eighth-color: #CECECE;
  --color-yellow-color: #FAB93C;
  --color-black: #343434;
  --color-tenth-color: #F1F1F1;
  --color-secndry-black: #2F2F2F;
  --color-email: #DDDDDD;
  --color-input: #BDBDBD;
}